/* @import url("reset.css"); */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(27, 38, 87); */
  font-family: "Roboto", "Verdana", serif;
  font-size: 18px;
}

.h1 {
  font-size: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", cursive;
  font-size: 40px;
}

.logo {
  background-color: rgb(52, 116, 107);
  width: 120px;
  height: 120px;
  border: 2px solid red;
  border-radius: 50% 0 0 0;
  padding: 25px;
  margin: 40px;
  transition: 1s;
}

.logo:hover {
  border-radius: 0 0 50% 0;
}

.logo img {
  width: 100%;
}

.nav_top {
  background-color: rgb(199, 166, 199);
  outline: 2px solid red;
}

.nav_top .logo,
.nav_top .nav_items {
  display: inline-block;
}

.nav_top .nav_items ul li,
.nav_top .nav_items ol li {
  display: inline-block;
  margin: 0 10px;
  transition: 1s;
}

.textDecor {
  font-style: italic;
  font-weight: 100;
}

.nav_items ul li a {
  font-family: "Roboto", "Verdana", serif;
  font-size: 40px;
  font-weight: 100;
  text-decoration: none;
  transition: 1s;
}

.nav_items ul li a:hover {
  text-decoration: overline;
}

.nav_items ul li a:active {
  text-decoration: line-through;
}
.nav_items a {
  font-size: 20px;
  font-weight: 100px;
  text-decoration: none;
  background-color: aqua;
  margin: 10px;
  padding: 10px;
  border: 2px solid red;
  border-radius: 50% 10% 20% 10%;
  transition: 0.4s;
}
.nav_items a:hover {
  border-radius: 90%;
  transition: 6s;
}
.nav_items a:visited {
  color: rgb(28, 184, 14);
  background-color: black;
}
